<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personne</title>
</head>

<body>
  <h1>Gestion de personnes</h1>
 <ul>
    <% if (erreurs) { %>
    <%  erreurs.forEach(err => { %>
    <li style="color: red;">
      <%= err %>
    </li>
    <% }) %>
    <% } %>
  </ul>
  <form action="/personne" method="post">
    <div>
      <label for="nom">Nom</label>
      <input type="text" id="nom" name="nom">
    </div>
    <div>
      <label for="prenom">Prénom</label>
      <input type="text" id="prenom" name="prenom">
    </div>
    <div>
      <label for="age">Âge</label>
      <input type="number" id="age" name="age">
    </div>
    <div>
        <button>
            Envoyer
        </button>
    </div>
    <div class="container">
       <H3> Liste des personnes</H3>
 <ul>
    <% personnes.forEach(p => { %>
        <% let link=`/personne/${p.id}` %>
        <% let linkUpdate=`/personne/update/${p.id}` %>
        <li>
            <%= `${p.prenom} ${p.nom}` %>
            <a href="<%= link %>">supprimer</a>
            <a href="<%= linkUpdate %>">Modifier</a>
        </li>
    <%})%>
  </ul>  
  
      
    </div>
  </form>
</body>

</html>